<header class="tc-header">
    <div class="c-header">
        <div class="o-container-lg p-flexcb">
            <div class="c-header__logo u-my-1" routerLink="/">
                <img class="u-size-per-100" src="./assets/media/caravantour.svg" alt="Logo caravantour">
            </div>
            <div class="c-header__block tc-header__nav ml-4">
                <nav class="c-list c-list--horizontal">

                    <a class="c-list__item" routerLink="/">
                        <p>
                           Inicio
                        </p>
                    </a>
                    <a class="c-list__item" (click)="ToggleSMenu()" [ngClass]="superMenu ? 'active' : ''">
                        <p>
                            Rutas destacadas
                        </p>
                        <i class="lnr" [ngClass]="superMenu ? 'lnr-chevron-up' : 'lnr-chevron-down'"></i>
                    </a>
                    <a class="c-list__item" routerLink="/countries">
                        <p>
                            Paises
                        </p>
                    </a>
                    <a class="c-list__item">
                        <p>
                            Sobre Tourcaravan
                        </p>
                    </a>
                </nav>
            </div>
            <div class="c-header__block">
                <!-- <button class="e-btn--secondary u-py-2 u-fs-14">
                    Contacto
                    <i class="ml-1 lnr lnr-phone-handset"></i>
                </button> -->

                <button class="e-btn--transparent tc-header__burguer u-py-2 u-fs-22" (click)="ToggleMobileMenu()">
                    <i class="lnr" [ngClass]="mobileMenu ? 'lnr-cross' : 'lnr-menu'"></i>
                </button>
            </div>
        </div>
    </div>

    <tc-mobilemenu (stateEvent)="stateMobileMenu($event)" *ngIf="mobileMenu"></tc-mobilemenu>
</header>
<tc-supermenu (stateEvent)="stateSuperMenu($event)" *ngIf="superMenu"></tc-supermenu>