@import '../../assets/scss/00.settings/variables';
@import '../../assets/scss/02.tools/all-tools';

$c : $prefix + '-header';

#{$c} {
    background-color: $c-white;
    left: 0;
    right: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4;

    &__nav {
        @include xs-device {
            display: none;
        }

        &.active {
            display: block;
        }
    }

    &__burguer {
        display: none;

        @include xs-device {
            display: block;
        }
    }
}