.e-btn {
  align-items: center;
  border: none;
  border-radius: calcrem(4);
  display: flex;
  justify-content: center;
  opacity: 0.9;
  padding: calcrem(10) calcrem(16);

  @mixin hover-btn {
    &:hover {
      background-color: $c-white;
      box-shadow: 0 0 12px rgba(215, 215, 215, 0.4);
      opacity: 1;
    }
  }

  @include hover-btn;
  
  // Tipos
  &--primary {
    @extend .e-btn;
    background: $c-primary1;
    color: $c-white;
  }

  &--secondary {
    background: $c-secondary1;
    color: $c-black;
  }

  &--tertiary {
    @extend .e-btn;
    background: transparent;
    border: calcrem(1) solid $c-primary1;
    color: $c-primary1;
  }
  &--grayish {
    @extend .e-btn;
    background: $c-primary2;
    border: calcrem(1) solid $c-primary2;
    color: $c-white;
  }

  &--transparent {
    background-color: transparent;
  }

  &--nobtn {
    background-color: transparent;
    border: none;

    @include hover-btn;
  }

  &--light {
    background-color: $c-white;
    color: $c-primary1;

    &:hover {
      background-color: $c-primary1;
      color: $c-white;
    }
  }

  &--icon {
    align-items: center;
    display: flex;
    justify-content: center;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: calcrem(6);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .2;
  }
}