$input: ".c-input";

#{$input} {
  $self: &;

  flex-direction: row;
  height: calcrem(22);
  width: 100%;

  &__label {
    width: 30%;
    word-break: break-word;

    &--md {
      @extend .c-input__label;
      width: 40%;
    }
  }

  &--datePill{
    height: calcrem(27);
    .c-input__input{
      font-weight: bold;
    }
  }

  &__field {
    border: calcrem(1) solid $c-secondary3;
    border-radius: calcrem(2);
    display: flex;
    height: 100%;
    width: 70%;

    &-select{
      p{
        color: $c-grey-6;
        font-size: calcrem(12);
        padding: calcrem(1) 0;
      }
    }
    
    &--md {
      @extend .c-input__field;
      width: 60%;
    }
    &--md-Plus {
      @extend .c-input__field;
      width: 85%;
    }
    &--xl {
      @extend .c-input__field;
      width: 93%;
    }

    &--nolabel {
      width: 100%;
    }
  }

  &__input {
    appearance: none;
    background: $c-white;
    border: 0;
    font-size: calcrem(12);
    height: 100%;
    padding: 0 calcrem(8);
    width: 100%;

    @include ellipsis-text;

    &:focus-visible {
      outline: none;
    }

    &--appearance {
      @extend .c-input__input;
      appearance: auto;
    }

    &--disabled {
      @extend .c-input__input;
      background-color: $c-disabled2;
      cursor: not-allowed;
    }
  }

  &__textarea {
    appearance: none;
    background: transparent;
    border: 0;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    height: 100%;
    border-left: calcrem(1) solid $c-secondary3;
    padding: 0 calcrem(6);
    z-index: 2;

    &--disabled {
      background-color: $c-disabled2;
      pointer-events: none
    }

  }

  &--flex {
    @extend #{$self};

    align-items: center;
    display: flex;
    justify-content: space-between;

    @include xs-device {
      display: initial;
    }
  }

}

// ToDo: reordenar y sassear
// Estilos overwrite para datePicker AnMaterial

$c-grey-777: map-get($grey, "grey800");

// Todos los mat-label
mat-label {
  font-size: 16px;
}

.mat-form-field {
  width: 100%;
  &-appearance-outline {
    .mat-form-field {
      &-outline {
        @mixin c-primary {
          color: $c-primary1 !important;
        }

        &-thick {
          @include c-primary;
        }

        &.mat-accent,
        &.mat-focused {
          .mat-form-field-outline-thick {
            @include c-primary;
          }
        }
      }

      &-infix {
        padding: calcrem(6) 0;
      }
    }

    .mat-form-field-label {
      margin-top: calcrem(-12);
    }
  }

  &-type {
    &-mat-input {
      .mat-form-field-infix {
        font-size: calcrem(14);
        padding: calcrem(9) calcrem(4);
      }

      .icon-end {
        bottom: calcrem(4);
        color: $c-primary1;
        opacity: 0;
        position: relative;
      }

      &:hover,
      &:focus-within {
        .icon-end {
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }

  &-label {
    background: $c-white;
    color: $c-primary1;
    font-size: calcrem(14);
    padding: 0 calcrem(8);
    transform-origin: 0 calcrem(24) !important;
    width: 100% !important;
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $c-primary1 !important;
      width: fit-content !important;
    }
  }

  // Quitamos efecto disabled
  &.not-disabled {
    cursor: no-drop;

    label,
    input,
    i {
      color: $c-grey-8 !important;
      cursor: no-drop;
    }

    .mat-form-field-outline {
      color: $c-grey-1;
    }
  }

  &.mat-accent {
    .mat-input-element {
      caret-color: $c-primary1;
    }
  }
}

// Estilos para label flotando: ToDo
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  width: fit-content !important;
}

// ToDo: reordenar y sassear
// Estilos overwrite para datePicker AnMaterial

$c-grey-777: map-get($grey, "grey800");

// Todos los mat-label
mat-label {
  font-size: 16px;
}

.mat-form-field {
  width: 100%;
  &-appearance-outline {
    .mat-form-field {
      &-outline {
        @mixin c-primary {
          color: $c-primary1 !important;
        }

        &-thick {
          @include c-primary;
        }

        &.mat-accent,
        &.mat-focused {
          .mat-form-field-outline-thick {
            @include c-primary;
          }
        }
      }

      &-infix {
        padding: calcrem(6) 0;
      }
    }

    .mat-form-field-label {
      margin-top: calcrem(-12);
    }
  }

  &-type {
    &-mat-input {
      .mat-form-field-infix {
        font-size: calcrem(14);
        padding: calcrem(7) calcrem(4);
      }

      .icon-end {
        bottom: calcrem(4);
        color: $c-primary1;
        opacity: 0;
        position: relative;
      }

      &:hover,
      &:focus-within {
        .icon-end {
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }

  &-label {
    background: $c-white;
    color: $c-grey-777;
    font-size: calcrem(14);
    padding: 0 calcrem(8);
    transform-origin: 0 calcrem(24) !important;
    width: 100% !important;
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $c-primary1 !important;
      width: fit-content !important;
    }

    .mat-form-field-ripple {
      background-color: $c-primary1;
    }
  }

  // Quitamos efecto disabled
  &.not-disabled {
    cursor: no-drop;

    label,
    input,
    i {
      color: $c-grey-8 !important;
      cursor: no-drop;
    }

    .mat-form-field-outline {
      color: $c-grey-1;
    }
  }

  &.mat-accent {
    .mat-input-element {
      caret-color: $c-primary1;
    }
  }
}

// Estilos para label flotando: ToDo
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  width: fit-content !important;
}




// Estilos para MatSelect
.mat-select {
  &-arrow-wrapper {
    display: none !important;
  }

  &-value {
    font-size: calcrem(16);
    overflow: initial !important;
    padding-left: calcrem(6);
  }

  &-icon {
    bottom: calcrem(5);
    font-size: calcrem(16);
    position: relative;
  }
}

.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $c-primary1 !important;
}

// .mat-date-range-input-start-wrapper .mat-date-range-input-inner {
//   left: 6px !important;
//   top: 3px !important;
// }



select {
  &:not([size]):not([multiple]) {
    //simulate line-height: 1.25  for selects

    &:focus {
      option {
        &:checked {
          background: $c-primary1 !important;
          color: $c-comp1;
        }
      }
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: calcrem(-3) !important;
}

.mat-form-field.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: $c-primary1;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $c-primary1;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.c-checkbox {
  background-color: $c-white;
  border: calcrem(1) solid $c-grey-7;
  border-radius: calcrem(3);
  height: calcrem(13);
  margin: calcrem(3) calcrem(3) calcrem(3) calcrem(4);
  width: calcrem(13);

  &--disabled {
    @extend .c-checkbox;

    background-color: $c-disabled2;
  }
}