$bg-pill-light: map-get($secondary, "secondary1");

.e-pill {
  @include center-items(center, center);
  border-radius: calcrem(4);
  padding: calcrem(4) 0;
  width: fit-content;

  &__el {
    padding: 0 calcrem(8);

    &:not(:first-child) {   
      border-left: calcrem(1) solid $c-secondary1;
    }
  }

  &--brown {
    @extend .e-pill;
    background-color: rgba($c-secondary1, 0.12);
    color: $c-secondary1;
  }
}
