<div class="tc-smenu">
    <div class="o-container-lg p-3">
        <div class="row">
            <div class="col-xl-6 m-0">
                <p class="u-color-primary1 u-fs-14 u-fw-600 ml-3">Destacadas</p>
                <div class="row m-0 p-0">
                    <div class="col-xl-6" *ngFor="let t of data; let i = index" >
                        <div class="tc-smenu__card" *ngIf="t.feat == true">
                            <div class="thumb u-radius-8">
                                <img src="{{t.thumb}}" alt="">
                            </div>
                            <div class="desc">
                                <h2>
                                    {{t.title}}
                                </h2>
                                <p class="u-fs-12">
                                   {{t.excerpt}}
                                </p>
                            </div>
                        </div>
                        <!-- <div class="tc-smenu__card">
                            <div class="thumb u-radius-8">
                                <img src="./assets/media/pictures/loira-one-medium.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h2>
                                    La camarga
                                </h2>
                                <p class="u-fs-12">
                                    Lorem ipsum dolor sit amet consectetur.
                                </p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="col-xl-6">
                        <div class="tc-smenu__card">
                            <div class="thumb u-radius-8">
                                <img src="./assets/media/pictures/alsacia-one-medium.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h2>
                                    Alsacia
                                </h2>
                                <p class="u-fs-12">
                                    Lorem ipsum dolor sit amet consectetur.
                                </p>
                            </div>
                        </div>
                        <div class="tc-smenu__card">
                            <div class="thumb u-radius-8">
                                <img src="./assets/media/pictures/loira-one-medium.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h2>
                                    Ruta del Loira
                                </h2>
                                <p class="u-fs-12">
                                    Lorem ipsum dolor sit amet consectetur.
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-6 m-0 u-border-start">
                <p class="u-color-primary1 u-fs-14 u-fw-600 ml-4">Otros</p>
                <div class="row m-0 p-0">
                    <div class="col-xl-12">
                        <ul class="tc-smenu__nav">
                            <li class="c-list__item u-fs-14 u-fw-600">
                                Ruta lorem Ips
                            </li>
                            <li class="c-list__item u-fs-14 u-fw-600">
                                Ruta lorem
                            </li>
                            <li class="c-list__item u-fs-14 u-fw-600">
                                Lorem Ipsum dolor et
                            </li>
                            <li class="c-list__item u-fs-14 u-fw-600">
                                Ruta corta
                            </li>
                            <li class="c-list__item u-fs-14 u-fw-600">
                                Ruta Lorem
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<code>
    <pre>{{data |json}}</pre>
</code>