<div class="tc-home">
    <div class="o-container-lg">
        <h1 class="u-fs-14 u-color-primary1">
            <strong class="u-color-secondary1 u-fw-600">
                Rutas en caravana
            </strong>
            por Europa.
        </h1>
       <div class="tc-home__fsect">
            <div class="c-card m-2" 
            [ngClass]="t.feat == false ? 'u-ds-none' : ''" 
            *ngFor="let t of data; let indexOfelement=index;"
            routerLink="tour/{{t.pathName | lowercase}}"
            (click)="getTourPos(indexOfelement)">
                <div class="c-card__head">
                    <img src="{{t.thumb}}" alt="">
                </div>
                <div class="c-card__body c-card__body--50">
                    <h2 class="u-fs-22 u-color-primary1">
                        {{t.title}}
                        <p class="u-fs-12 u-fw-400">
                            {{ t.excerpt }}
                        </p>
                    </h2>
                    <p class="u-fs-14 u-fw-400 u-ellipsis">
                        {{t.description}}
                    </p>
                </div>
            </div>
       </div>
    </div>

    <div class="o-container-lg">
       <div class="tc-home__ssect row u-border-top">
        <div class="col-12">
            <div class="u-size-per-100 u-ds-flex u-justify-between">
                <div>
                    <h2 class="u-fs-14 u-color-primary1">
                        Listado de
                        <strong class="u-color-secondary1 u-fw-600">
                            rutas en caravana 
                        </strong>
                    </h2>
                </div>
                <div>
                    <!-- <button class="e-btn--nobtn p-flexcc">
                        <span class="u-fs-12 mr-1">
                            Filtrar
                        </span>
                        <i class="lnr lnr-sort-alpha-asc"></i>
                    </button> -->
                </div>
            </div>
        </div>
       </div>

       <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let t of data, let indexOfelement=index;">
              <div class="c-card--vert u-cursor-pointer" routerLink="tour/{{t.pathName | lowercase}}" (click)="getTourPos(indexOfelement)">
                <div class="c-card__head">
                    <img src="{{t.thumb}}" alt="">
                </div>
                <div class="c-card__body">
                    <div class="p-flexcb">
                        <p class="u-fs-16 u-fw-600 u-color-primary1">
                            {{t.title}}
                        </p>
                    </div>
                    <p class="u-fs-12 my-2 u-ellipsis">
                        {{t.description}}
                    </p>
                    <div class="c-card__foot u-ds-flex u-justify-end">
                        <div class="p-flexcc mb-0">
                            <p class=" u-fs-12 u-color-primary1 u-fw-500 mb-0 mr-3">
                                <i class="lnr lnr-calendar-full"></i> 
                                {{t.duration}} días
                            </p>
                            <p class=" u-fs-12 u-color-primary1 u-fw-500 mb-0 mr-3">
                                <i class="lnr lnr-map-marker"></i> {{t.end}}
                            </p>
                            <p class=" u-fs-12 u-color-primary1 mb-0 u-fw-500">
                                <i class="lnr lnr-map"></i> {{t.country}}
                            </p>
                        </div>
                    </div>
                </div>
              </div>  
            </div>
       </div>
    </div>
</div>
