<div class="tc-home">
    <div class="o-container-lg">
       <div class="row mb-3">
            <div class="col-xl-12">
                <h1 class="u-fs-xxl u-fw-600">
                    Las mejores <strong class=" u-color-primary1">rutas en caravana</strong> 
                </h1>
            </div>
       </div>
       <div class="tc-home__fsect">
            <div class="u-bg-primary1">
                1
            </div>
            <div class="u-bg-primary2">
                2
            </div>
            <div class="u-bg-primary3">
                3
            </div>
       </div>
    </div>
</div>
