body {
  font-family: $font-family;
  letter-spacing: 0.8px;
  // overflow: hidden;

  table,
  div,
  p,
  span,
  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  button,
  textarea {
    font-family: $font-family;
    font-size: $font-size-main;
    letter-spacing: 0.2px;
    line-height: 1.4;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }

  a {
    &:hover {
      color: initial;
    }
  }
}
