.c-card {
  $self: &;

  border-radius: calcrem(20);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  position: relative;

  &:hover {
    box-shadow: 0 0 12px rgba($c-black, 0.4);
    transition: 0.2s;
  }

  &__head {
    position: absolute;
    @include setWidthAndHeight(100%, 100%);
    z-index: 0;

      img {
        @include setWidthAndHeight(100%, 100%);
        object-fit: cover;
      }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: calcrem(16);
    width: 50%;
    z-index: 1;

    * {
      text-shadow: 0 0 16px #000;
    }
  }
}