.c-header {
    align-items: center;
    display: flex;
    padding: 0;
    width: 100%;

    > div {
        border-bottom: calcrem(1) solid $c-comp2;
    }

    &__block {
        align-items: center;
        display: flex;
    }
    
    &__logo {
        height: auto;
        width: calcrem(170);

        img {
            height: 100%;
        }
    }
}

