<footer class="tc-footer">
  <div class="o-container-lg">
    <div class="row my-3">
      <div class="col-xl-6">
        <div class="row">
          <ul class="col-xl-6">
            <li class="tc-footer__item">
                <a>
                    Sobre Tourcaravan
                </a>
            </li>
            <li class="tc-footer__item">
                <a>
                    Contacto
                </a>
            </li>
          </ul>
          <ul class="col-xl-6">
            <li class="tc-footer__item">
                <a>
                    Política legal
                </a>
            </li>
            <li class="tc-footer__item">
              <a>
                Fuentes de información
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-xl-6">
        <div>
            <p class="u-fs-12">
                La información y contenido de nuestro blog tiene un fin informativo y creativo. Toda la información ha sido investigada y recabada de difrentes fuentes como guías, otras webs, vivencias propias de nuestro colaboradores, etc. No somos una fuente oficial, ni pretendemos serlo. Esperemos que nuestro contenido sea de ayuda e inspiración para los ruteros y viajeros que lo lean.
            </p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12 u-text-center mt-4">
            <p class="u-fs-12">
                tourcaravan.com © 2002 - 2022 Reservados todos los derechos
            </p>
            
        </div>
    </div>
  </div>
</footer>
